<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin page</title>

    <!--  css  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>
<body>

<!--  navbar  -->
<nav class="navbar navbar-dark navbar-bg">
    <div class="container-fluid">
        <ul class="navbar-brand navbar-nav d-flex flex-row gap-1">
            <li class="nav-item" id="current-user-email"></li>
            <li>with roles:</li>
        </ul>
        <ul id="user-roles" class="navbar-nav navbar-brand d-flex flex-row gap-1">

        </ul>
        <a class="nav-link ms-auto logout" href="/logout">Logout</a>
    </div>
</nav>


<main>
    <div class="container-fluid row d-flex gap-2">
        <!--  sidebar  -->
        <ul class="nav flex-column nav-pills col-2 sidebar">
            <br>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">ADMIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">USER</a>
            </li>
        </ul>

        <div class="content-inner col">
            <br>
            <h1>Admin panel</h1>

            <!-- tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="all-user" data-bs-toggle="tab" data-bs-target="#all-user-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">User table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="new-user" data-bs-toggle="tab" data-bs-target="#new-user-pane"
                            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">New User
                    </button>
                </li>
            </ul>


            <div class="tab-content" id="myTabContent">

                <!--  table tab -->
                <div class="tab-pane fade show active" id="all-user-pane" role="tabpanel" aria-labelledby="all-user"
                     tabindex="0">
                    <div class="table-h">
                        <h5>All users</h5>
                    </div>

                    <div class="table-inner">
                        <!--  table  -->
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th class="col">ID</th>
                                <th class="col">Name</th>
                                <th class="col">Surname</th>
                                <th class="col">Age</th>
                                <th class="col">Email</th>
                                <th class="col">Role</th>
                                <th class="col">Edit</th>
                                <th class="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

                <!--  new user tab -->
                <div class="tab-pane fade" id="new-user-pane" role="tabpanel" aria-labelledby="new-user"
                     tabindex="0">

                    <div class="new-user-inner">
                        <div class="new-user-h">
                            <h5>Add new user</h5>
                        </div>

                        <div class="form-new-user-inner">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <form id="form-new-user" name="form-new-user">
                                            <div class="form-group">
                                                <label for="new-name" class="d-flex justify-content-center pb-2"><strong>name</strong></label>
                                                <input type="text" class="form-control"
                                                       id="new-name">
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="new-surname" class="d-flex justify-content-center pb-2"><strong>surname</strong></label>
                                                <input type="text" class="form-control"
                                                       id="new-surname">
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="new-age" class="d-flex justify-content-center pb-2"><strong>age</strong></label>
                                                <input type="number" class="form-control"
                                                       id="new-age">
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="new-email" class="d-flex justify-content-center pb-2"><strong>email</strong></label>
                                                <input type="email" class="form-control"
                                                       id="new-email">
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="new-password" class="d-flex justify-content-center pb-2"><strong>password</strong></label>
                                                <input type="password" class="form-control"
                                                       id="new-password">
                                            </div>
                                            <div class="form-group pt-3">
                                                <label for="new-role" class="d-flex justify-content-center pb-2"><strong>roles</strong></label>
                                                <select class="form-select" multiple size="2" id="new-role"
                                                        name="roleSelect">
                                                    <option value="2">ADMIN</option>
                                                    <option value="1">USER</option>
                                                </select>
                                            </div>
                                            <div class="pt-4 d-flex justify-content-center">
                                                <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!--  js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>